{% include "base.html" %}
<html>
<head>
	{% load static %}
	<link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>


	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Stock Details</div>

		<!-- Table -->
		<table class="table">
			
			{% for o in userprofile %}
			<tr>
				<td>Startup Name</td>
				<td>{{o.startup.startupName}}</td>
			</tr>
			<tr>
				<td>Stock Name</td>
				<td>{{o.startup.stockName}}</td>
			</tr>
			<tr>
				<td>Share Percentage</td>
				<td>{{o.sharepercentage}}</td>
			</tr>
			{% endfor %}
			{% for o in onSale %}
			<tr>
				<td>Share Price</td>
				<td>{{o.stockprice}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Stock Owners</div>

		<!-- Table -->
		<table class="table">
			<tr>
				<td>Owner</td>
				<td>Holdings %</td>
			</tr>
			{% for o in owners %}
			<tr>
				<td>{{o.owner.username}}</td>
				<td>{{o.sharepercentage}}</td>
			</tr>
				
			{% endfor %}
		</table>
	</div>
	
	
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>