<!DOCTYPE html>
<html>
    <head>
        <title>Startup Login</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

      <!-- Bootstrap Material Design -->
      <link rel="stylesheet" type="text/css" href="{% static "app/material/css/bootstrap.min.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "app/material/css/mdb.min.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "app/material/css/style.css" %}">
    </head>

    <body style="background-image:url({% static "app/assets/bg.jpeg" %}); background-size:100% 200%;background-repeat:no-repeat">
        <div class="jumbotron" >
            <h4 style="margin-left:20px" align="Center">Login as Startup</h4>  
        </div>
        
        <div class="row" style="margin-left:5px;margin-right:5px;margin-top:5px">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
            <div class="card-block">

                <!--Header-->
                <div class="form-header  primary-color-dark">
                    <h3><i class="fa fa-lock"></i> Login:</h3>
                </div>

                <!--Body-->
                <form id="login_form" method="post" action="/startup/login/">
                    {% csrf_token %}
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" name="username" size="50" value="" class="form-control">
                        <label for="form2">Username</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" name="password" size="50" value="" class="form-control">
                        <label for="form4">Your password</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-primary waves-effect" type="submit">Login</button>
                    </div>
                </form>

            </div>

        </div>
        </div>
        <div class="col-md-2">
        </div>
        </div>

        
        
        <script src="{% static "app/material/js/jquery-2.2.3.min.js" %}"></script>

      <script src="{% static "app/material/js/tether.min.js" %}"></script>

      <script src="{% static "app/material/js/bootstrap.min.js" %}"></script>

      <script src="{% static "app/material/js/mdb.min.js" %}"></script>
    </body>
</html>