{% include "investor/base.html" %}
<html>
<head>
	{% load static %}
	<link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>



<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">My Owning</div>

		<!-- Table -->
		<table class="table">
			<tr>
				<td>Stock Name</td>
				<td>Percentage</td>
				<td>Current Price</td>
			</tr>
			{% for o in my_ownership %}
				<tr>
{#					<td>{{o.stockName}}</td>#}
					<td>{{o.startup.stockName}}</td>
					<td>{{o.sharepercentage}}</td>
                    <td>{{o.startup.sharePrice}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<br>









{##}
{#	<div class="panel panel-primary">#}
{#	<!-- Default panel contents -->#}
{#		<div class="panel-heading">Registered Investors</div>#}
{##}
{#		<!-- Table -->#}
{#		<table class="table">#}
{#			<tr>#}
{#				<td>Name</td>#}
{#				<td>Balance</td>#}
{#				<td>UID</td>#}
{#			</tr>#}
{#			{% for o in list %}#}
{#				<tr>#}
{#					<td>{{o.name}}</td>#}
{#					<td>{{o.accno.balance}}</td>#}
{#					<td>{{o.aadhar.aadhar}}</td>#}
{#				</tr>#}
{#			{% endfor %}#}
{#		</table>#}
{#	</div>#}

	<br>
	<div class="panel panel-primary">
	<div class="panel-heading">Registered Startups</div>

		<!-- Table -->
		<table class="table">
			<tr>
				<td>Startup Name</td>
				<td>Stock Name</td>
				<td>Price</td>
			</tr>
			{% for o in startups %}
				<tr>
					<td>{{o.startupName}}</td>
					<td>{{o.stockName}}</td>
					<td>{{o.sharePrice}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>