<!DOCTYPE html>

<html>
    <head>
        <title>Investor Register</title>
        {% load static %}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/mdb.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/style.css" %}">
        <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
        
    </head>

    <body style="background-image:url({% static "app/assets/bg1.jpeg" %}); background-size:100% 100%;background-repeat:no-repeat">
        <div class="jumbotron" >
            <h4 style="margin-left:20px" align="Center">Register as Investor</h4>  
        </div>
        <div class="row" style="margin-left:5px;margin-right:5px;margin-top:5px">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card">
            <!-- Default panel contents -->
                    <div class="form-header  unique-color">
                    <h3><i class="fa fa-lock"></i> Register:</h3>
                </div>
                    <br>
                    {% if registered %}
                    <div class="alert alert-success">
                      <strong>Thank You For Registering!!</strong> <a href="/app/">Return to the homepage.</a><br>
                    </div>
                    
                    
                    {% else %}
                    
                    <div>
                    <form id="user_form" method="post" action="/investor/register/">

                        {% csrf_token %}

                        <!-- Display each form. The as_p method wraps each element in a paragraph
                             (<p>) element. This ensures each element appears on a new line,
                             making everything look neater. -->
                        
                            <!-- {{ user_form.as_p }}
 -->                    
                        
                            <!-- {{ user_form.as_p }}
 -->                    

                       
                            {{ user_form.as_p }}
                    
                        
                            {{ profile_form.as_p }}
                        
                        
                            {{ accounts_form.as_p }}
                        

                        <!-- Provide a button to click to submit the form. -->
                        <Button type="submit" style="width:50%;margin-left:25%" class="btn btn-primary" name="submit">Register</Button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
        {% endif %}
        <br>
        <br>
        <script src="{% static "app/material/js/jquery-2.2.3.min.js" %}"></script>

  <script src="{% static "app/material/js/tether.min.js" %}"></script>

  <script src="{% static "app/material/js/bootstrap.min.js" %}"></script>

  <script src="{% static "app/material/js/mdb.min.js" %}"></script>
    </body>
</html>