<html>
<head>

{% load static %}
	<!-- Material Design fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/mdb.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/material/css/style.css" %}">
</head>
<body>
<!--   {% if user.is_authenticated %}
<h1> hello {{ user.username }} !</h1>
{% else %}
<h1> hello world!</h1>

{##}
{#        {% if user.is_authenticated %}#}
{#    <li><a href="/rango/profile">Profile</a></li>#}
{#{% endif %}#}

{% endif %} -->
	<!-- ******Navbar***** -->
	

	<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/market">
            <strong>Market</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/market/buy">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market/sell">Sell</a>
                </li>
                
            </ul>
            <ul class="navbar-nav navbar-right">
	            {% if user.is_authenticated %}
	        
		        {% if isinvestor %}
		               <li class="nav-item"><a class="nav-link" href="/investor/"><strong>{{ user.username }}</strong></a></li>
		              {% else %}
		              <li class="nav-item"><a class="nav-link" href="/startup/"><strong>{{ user.username }}</strong></a></li>
		              {% endif %}
		        <li class="nav-item"><a class="nav-link" href="/market/logout"><strong>Logout<strong></a></li>
		              {%  endif %}
	        
	      </ul>
            
        </div>
    </div>
</nav>

</body>
</html>