{% include "market/base.html" %}
<html>
<head>
	{% load static %}
	<link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>

	<form action="../execBuy/" method='post'>

		<div class="panel panel-primary">
			<div class="panel-heading">Stocks Available</div>
			<table class="table">
				<tr>
					<td>Choice</td>
					<td>Stock Owner</td>
					<td>Name</td>
					<td>Shares Available</td>
					<td>Price</td>
					<td>Qty to Purchase</td>
				</tr>
				{% for o in onsale %}
					<tr>
						<td>
							<div class="radio">
								<label><input type="radio" name='choice' value="{{o.startup.stockName}}"></label>
                                 <input type="hidden" name='username' value="{{o.owner.username}}">

							</div>
						</td>
						<td>{{o.owner.username}}
						<td>{{o.startup.stockName}}</td>
						<td>{{o.stockpercentage}}</td>
						<td>{{o.stockprice}}</td>
						<td><input type="text" class="form-control" name="qty{{o.startup.stockName}}"></td>
					</tr>
				{% endfor %}


			</table>
		</div>
		<input class="btn btn-primary btn-sm" type='submit' name='submit' value='Go!'>
	</form>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>