{% include "app/base.html" %}
<html>
<head>
	{% load static %}
	<link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>

	<form action="../execBuy/" method='post'>
		{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">Stocks Available</div>
			<table class="table">
				<tr>
					<td>Choice</td>
					<td>Name</td>
					<td>Shares Available</td>
					<td>Price</td>
					<td>Qty to Purchase</td>
				</tr>
				{% for o in startup %}
					<tr>
						<td>
							<div class="radio">
								<label><input type="radio" name='choice' value="{{o.holdings}}"></label>

                                <input type="hidden" name='type' value="{{0}}">
                                 <input type="hidden" name='username' value="{{o.holdings.startupName}}">

							</div>
						</td>
						<td>{{o.holdings}}</td>
						<td>{{o.shareCount}}</td>
						<td>{{o.sharePrice}}</td>
						<td><input type="text" class="form-control" name="qty{{o.holdings}}"></td>
					</tr>
				{% endfor %}

                {% for o in investor %}
					<tr>
						<td>
							<div class="radio">
								<label><input type="radio" name='choice' value="{{o.holdings}}">

                                    <input type="hidden" name='type' value="{{1}}">
                                    <input type="hidden" name='username' value="{{o.holdings.investor.user}}">

                                </label>
							</div>
						</td>
						<td>{{o.holdings}}</td>
						<td>{{o.shareCount}}</td>
						<td>{{o.sharePrice}}</td>
						<td><input type="text" class="form-control" name="qty{{o.holdings}}"></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<input class="btn btn-primary btn-sm" type='submit' name='submit' value='Go!'>
	</form>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>