{% include "market/base.html" %}
<html>
<head>
	{% load static %}
	<!-- <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet"> -->
</head>
<body style="background-image:url({% static "app/assets/bg1.jpeg" %}); background-size:100% 100%;background-repeat:no-repeat">

	<br>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<form action="../execBuy/" method='post'>

				<div class="card z-depth-3">
					<div class="card-header unique-color white-text">Stocks On Sale</div>
					<table class="table">
						<tr>
							<td>Choice</td>
							<td>Stock Owner</td>
							<td>Name</td>
							<td>Shares Available</td>
							<td>Price</td>
							<td>Qty to Purchase</td>
						</tr>
						{% for o in onsale %}
							<tr>
								<td>
									
										<input type="radio" name='choice' value="{{o.startup.stockName}}  {{o.owner.username}}">
		                                <input type="hidden" name='username' value="{{o.owner.username}}">
		                            
									
								</td>
								<td>{{o.owner.username}}
								<td>{{o.startup.stockName}}</td>
								<td>{{o.stockpercentage}}</td>
								<td>{{o.stockprice}}</td>
								<td><input type="text" class="form-inline" name="qty{{o.startup.stockName}}  {{o.owner.username}}" ></td>
							</tr>
						{% endfor %}


					</table>
				</div>
				<br>
				<div class="text-center">
		            <button class="btn btn-mdb hoverable" type="submit">Purchase</button>
		        </div>
			</form>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>