{% include "market/base.html" %}
<html>
<head>
	{% load static %}
	<link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>


	<div class="panel panel-primary">
	<!-- Default panel contents -->
		<div class="panel-heading">Available Stocks</div>

		<!-- Table -->
		<table class="table">
			<tr>
				<td>Stock Owner</td>
				<td>Stock Name</td>
				<td>Share Count</td>
				<td>Share Price</td>
			</tr>
			{% for o in list1 %}
				<tr>
					<td>{{o.owner.username}}
					<td>{{o.startup.stockName}}</td>
					<td>{{o.stockpercentage}}</td>
					<td>{{o.stockprice}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<br>
	<br>
	
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>