{% include "market/base.html" %}
<html>
<head>
	{% load static %}
	<!-- <link href="{% static "app/css/bootstrap.min.css" %}" rel="stylesheet"> -->
</head>
<body style="background-image:url({% static "app/assets/bg1.jpeg" %}); background-size:100% 100%;background-repeat:no-repeat">


	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<form action="../execInvestorSell/" method='post'>
				<div class="card z-depth-3">
				<!-- Default panel contents -->
					<div class="card-header unique-color white-text">Choose Stock to Sell</div>
				
				<!-- Table -->
					<table class="table">
						<tr>
							<td>Choice</td>
							<td>Stock</td>
							<td>Available Shares</td>
							<td>Qty to Sell</td>
							<td>Quote Price</td>
						</tr>
						{% for o in list %}
							<tr>
								<td>
									<div class="radio">
											<label><input type="radio" name='choice' value="{{o.startup.stockName}}"></label>
									</div>
								</td>
								<td>{{o.startup.stockName}}</td>
								<td>{{o.sharepercentage}}</td>
								<td><input type="text" class="form-inline" name="qty{{o.startup.stockName}}"></td>
								<td><input type="text" class="form-inline" name="price{{o.startup.stockName}}"></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<br>
				<div class="text-center">
		            <button class="btn btn-mdb hoverable" type="submit">Sell</button>
				</div>
			</form>
			<br>
			<div class="alert alert-warning">
			  <strong>Warning!</strong> Any Previous Listings of same stock would be overwritten.
			</div>
			<br>





			<div class="card z-depth-3">
			<!-- Default panel contents -->
					<div class="card-header unique-color white-text">My Current On Sale</div>
					
					<!-- Table -->
					<table class="table">
						<tr>
							
							<td>Stock Name</td>
							<td>Percentage</td>
							<td>Price</td>
						</tr>
						{% for o in onsale %}
							<tr>
								
								<td>{{o.startup.stockName}}</td>
								<td>{{o.stockpercentage}}</td>
								<td>{{o.stockprice}}</td>
							</tr>
						{% endfor %}
					</table>

				</div>







		</div>
		<div class="col-md-1">
		</div>
	</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "app/js/jquery.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
</body>
</html>